/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  position: relative;
  width: 24px;
  height: 32px;
  margin-top: 12px;
}

.navbar_icon,
.navbar_icon::after,
.navbar_icon::before {
  display: block;
  background-color: #475569;
  width: 24px;
  height: 3px;
  border-radius: 9999px
}

.navbar_icon::after,
.navbar_icon::before {
  position: absolute;
  content: '';
}

.navbar_icon::before {
  top: 8px;
}

.navbar_icon::after {
  bottom: 7px;
}

.plus_icon {
  display: inline-block;
  background: #fa7f64;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  position: relative;
  border-radius: 9999px;
  z-index: 10;
}

.plus_icon::before {
  content: '';
  position: absolute;
  background: #fff;
  width: 1.15rem;
  height: 0.15rem;
  border-radius: 0.25rem;
  top: 1.25rem;
  left: 0.7rem;
}

.plus_icon::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 1.15rem;
  height: 0.15rem;
  border-radius: 0.15rem;
  top: 1.25rem;
  left: 0.7rem;
  transform: rotate(90deg);
}
